body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.outer-col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.inner-row {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.inner-col {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

nav {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

header {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

aside {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

footer {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}